@media(max-width: 768px) {
    #menu .container-cardapio, .grid-bebidas{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media(max-width: 464px) {
    .container-cardapio .cardapio{
        display: block;
    }
}